#home_section {
    background-image: url('../../public/assets/img/header.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 537px;
}

.mainheader {
    position: fixed;
    background-color: #343a40cf;
    width: 100%;
    text-align: center;
    z-index: 1;
    top: 0;
}

.pd-10 {
    padding: 10px;
}

.pd-20 {
    padding: 20px;
}

.margin_a {
    margin: auto !important;
}

.header_left_m {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.header_left_m .cnt {
    color: #fff;
}

.header_left_m .cnt:hover {
    color: #00a859;
}

.header_left_m .cnt h6 {
    font-size: 14px;
    cursor: pointer;
}



.logo_img img {
    width: 25%;
}

.banner_cnt {
    padding: 130px 0px 0px 0px;
    color: #fff;
}

.banner_cnt h3 {
    text-align: center;
    font-weight: bold;
    font-size: 1.8rem;
    letter-spacing: 1px;
}

.banner_menu {
    width: 50%;
    margin: auto;
    padding: 40px 0px;
    text-align: center;
}

.banner_menu_cnt h3 {
    font-size: 16px;
}

.banner_menu img {
    margin: auto;
    border-radius: 50%;
    padding: 10px;
}

.banner_menu_cnt:hover {
    background-color: #09988e;
    border-radius: 10px;
    cursor: pointer;
}

.diaplyon_hover {
    display: none;
}

.banner_menu_cnt:hover .diaplyon_hover {
    display: block;
}

.search_suggestions {
    width: 25%;
    margin: auto;
    padding: 10px 0px;
}

.search_input {
    padding: 0 !important;
    margin: 0 !important;
}

.search_btn {
    padding: 0 !important;
    margin: 0 !important;
}

.search_btn .btn {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 6px 30px;
    background-color: #6c757d;
    border-color: #6c757d;
}

.search_input input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.dynamicbanner {
    width: 40%;
    margin: auto;
    text-align: center;
    position: relative;
    top: -45px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: aliceblue;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 30px;
}

.header {
    color: rgb(17, 17, 17);
    font-weight: 700
}

.subheader {
    color: #6c757d;
    font-weight: 800;
}

.dynamicbanner .slick-prev {
    left: -80px;
}

.dynamicbanner .slick-next {
    right: -80px;
}

.dynamicbanner .slick-prev::before,
.dynamicbanner .slick-next::before {
    color: #000000b0 !important;
}

.static_banner_header {
    color: #6c757d;
    font-weight: 800;
    text-align: center;
}

.static_banner_cnt {
    text-align: center;
    padding: 30px 0px;
}

.gs_wk_cnt {
    line-height: 1.2;
    padding-top: 10px;
    font-size: 14px;
}

.gs_wk_img {
    margin: auto !important;
}

#testimonials {
    background-color: #eff8f7;
    padding: 30px;
}

.testimonials_cnt {
    background: #eff8f7;
    width: 40%;
    margin: auto;
    text-align: center;
}

.testimonials_cnt_header {
    color: #6c757d;
    font-weight: 800;
}

.testimonials_cnt_bdy {
    padding: 40px;
}

.testimonials_cnt_bdy .slick-prev::before,
.testimonials_cnt_bdy .slick-next::before {
    color: #000000b0 !important;
}

.contact_us_cnt .testimonials_cnt_header {
    text-align: center;
}

.form_cnt {
    width: 60%;
    margin: auto;
    padding: 30px;
}

.sub_btn {
    width: 100%;
}

#footer {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #6c757d !important;
}

.footer_right_cnt p {
    color: #fff;
}

.footer_cnt {
    padding: 40px;
}

.footer_left_cnt {
    text-align: center;
}


.services_cnt {
    display: none;
    background: #fff;
    color: #000;
    padding: 18px;
    width: 180px;
    text-align: left;
    position: absolute;
    margin-top: 5px;
}


.header_left_m .cnt:hover .services_cnt {
    display: block;
}
/* 
.header_left_m .services_cnt:hover .services_cnt {
    display: block;
} */

.services_cnt p{
    cursor: pointer;
}